body {
    background-color: white;
}

button{
    border: none;
    background-color: navy;
    color: white;
    margin-right: .3rem;
    outline: none;
}

#waveform-container{
    margin-bottom: .2rem;
}

